version: "3.9"
services:
  redis: 
    image: redis:latest
    container_name: redis
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data

  backend: 
    build: ./backend
    ports: 
      - "5000:5000"
    env_file:
      - ./env
    depends_on:
      - redis
    volumes:
      - ./backend:/app

  frontend: 
    build: ./frontend
    ports: 
      - "5173:5173"
    env_file:
      - ./env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
  